:root { 
--gray_700:#595e66; 
--blue_900:#003b9e; 
--bluegray_100:#d4d4d4; 
--gray_100:#f2f2f2; 
--black_900_dd:#000000dd; 
--black_900_99:#00000099; 
--yellow_A400:#ffe600; 
--black_900:#00051a; 
--black_901:#000000; 
--black_900_40:#00000040; 
--deep_purple_A700:#6100ed; 
--white_A700:#ffffff; 
--black_900_38:#00000038; 
}