
 @font-face { src: url("../assets/fonts/robotoregular400.ttf"); font-family : "Roboto"; font-style : regular; font-weight : 400;  }
 @font-face { src: url("../assets/fonts/robotomedium500.ttf"); font-family : "Roboto"; font-style : Medium; font-weight : 500;  }
 @font-face { src: url("../assets/fonts/poppinsbold700.ttf"); font-family : "Poppins"; font-style : Bold; font-weight : 700;  }
 @font-face { src: url("../assets/fonts/poppinsmedium500.ttf"); font-family : "Poppins"; font-style : Medium; font-weight : 500;  }